*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 85%;
    width: 100%;
    background-color: #111;
    display: flex;
    padding: 5vw 10vw;
}

#left{
    height: 100%;
    width: 45%;
    background-color: #333;
    background-size: cover;
    background-position: center;
}

#right{
    height: 100%;
    width: 55%;
    /* background-color: blue; */
    padding: 0vw 3vw;
}

#right h3{
    font-size: 30px;
}

#all-songs{
    /* background-color: red; */
    height: 85%;
    margin-top: 20px;
}

.song-card{
    display: flex;
    align-items: center;
    /* background-color: blue; */
    border-top: 1px solid rgb(71, 71, 71);
    padding: 15px 10px;
}

.song-card:hover{
    background-color: #282727;
}

.song-card:nth-last-child(1){
    border-bottom: 1px solid rgb(71, 71, 71);
}

.song-card .part-1{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    pointer-events: none;
}

.song-card img{
    height: 50px;
    width: 70px;
}

.song-card h2{
    margin-left: 10px;
    font-size: 22px;
}

.song-card h6{
    margin-left: 255px;
    font-size: 14px;
}

#player{
    height: 15%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#player h3{
    background-color: rgb(52, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
}

#player h3:active{
    scale: 0.8;
}